
<ng-container *ngIf="registrationForm.statusChanges | async"></ng-container>
<form class="p-3 w-fit" [formGroup]="registrationForm">

  <h2>
    Using Custom Async Validators
  </h2>
  <div class="flex mb-2">
    <span class="p-float-label mr-2">
      <input id="name" pInputText formControlName="name">
      <label for="name">Name</label>
    </span>


    <span class="p-float-label">
      <input id="username" pInputText formControlName="username">
      <label for="username">Username</label>
      <small *ngIf="registrationForm.get('username').hasError('usernameAlreadyExists')" id="username2-help"
        class="p-error block">Username already <strong>exists</strong></small>
    </span>
  </div>


  <div class="flex justify-content-end flex-wrap">
    <button (click)="registrationForm.reset()" pButton pRipple class="p-button-warning mr-2">
      Reset
    </button>
    <button (click)="patch()" pButton pRipple class="p-button-secondary mr-2">
      Patch
    </button>
    <button pButton pRipple [disabled]="!registrationForm.valid">
      Submit
    </button>
  </div>
  <div>
    <pre>{{ registrationForm.status | json }}</pre>
  </div>
</form>