<p>
  Using Custom Async Validators
</p>
<ng-container *ngIf="registrationForm.statusChanges | async"></ng-container>
<form class="example-form" [formGroup]="registrationForm">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. John Doe" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Ex. Batman" formControlName="username" />
    <mat-error
      *ngIf="registrationForm.get('username').hasError('usernameAlreadyExists')"
    >
      Username already <strong>exists</strong>
    </mat-error>
  </mat-form-field>

  <div class="button-container">
    <button
    (click)="registrationForm.reset()"
    style="margin-right: 1rem"
    mat-raised-button
    color="warn">
    Reset
  </button>
  <button
    (click)="patch()"
    style="margin-right: 1rem"
    mat-raised-button
    color="secondary">
    Patch
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!registrationForm.valid">
    Submit
  </button>
</div>
<div>
{{registrationForm.valid | json}}
</div>
</form>